:root {
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);
  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);
  --Font-size: 13px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Barlow Semi Condensed";
}

html {
  font-size: var(--Font-size);
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

.main-container {
  height: 100%;
  width: 100%;
  padding: 4.6rem 2.3rem;
}

img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.daniel,
.jonathan,
.jeanette,
.patrick,
.kira {
  padding: 2.3rem;
  border-radius: 0.5rem;
  background-color: var(--Purple-500);
  margin-bottom: 2.5rem;
  color: var(--White);
  box-shadow: 1.5rem 0.5rem 1.7rem 1rem var(--Grey-200);

  & .content-primary {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.3rem;
  }

  & .content-secondary {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
  }
}

.title-image-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;

  & .name-status-container {
    margin-left: 1.3rem;

    & h1 {justify-self: start;
      font-size: 1.2rem;
      font-weight: 600;
      padding-bottom: 0.2rem;
    }

    & h2 {
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

.daniel {
  & .daniel-quotation {
    display: none;
  }

  & .daniel-image {
    border: 3px solid var(--Purple-300);
  }

  & h2,
  .content-secondary {
    color: var(--Purple-300);
  }
}

.jonathan {
  background-color: var(--Grey-400);

  & h2 {
    color: var(--Grey-200);
  }
}

.jeanette,
.kira {
  background-color: var(--White);
  color: var(--Grey-500);
  
  & h2,
  .content-secondary {
    color: var(--Grey-400);
  }
}

.patrick {
  background-color: var(--Dark-blue);
  color: var(--Grey-100);

  & .patrick-image {
    border: 3px solid var(--Purple-500);
  }
}

@media only screen and (min-width: 600px) {
  .daniel,
  .jonathan,
  .jeanette,
  .patrick,
  .kira {
    width: 42rem;
    margin: 0 auto 2.5rem auto;
  }
}

@media only screen and (min-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 20rem);
    gap: 2rem;
    width: 60rem;
    margin: 0 auto;
  }

  .daniel,
  .jonathan,
  .jeanette,
  .patrick,
  .kira {
    width: 24rem;
    margin-bottom: 0;
  }

  .jeanette,
  .jonathan {
    height: 20rem;
    margin: 0;
  }

  .daniel, .patrick {
    margin: 0 0 0 auto;
  }

  .daniel {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .patrick {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .kira {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    margin: 0;
  }
}

@media only screen and (min-width: 1240px) {
  body {
    display: flex;
    align-items: center;
  }

  .main-container {
    width: 88rem;
    height: 50rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding: 2rem 3rem;
    gap: 1.5rem;
  }

  .daniel,
  .jonathan,
  .jeanette,
  .patrick,
  .kira {
    width: auto;
    height: auto;
    z-index:0;
  }

  .daniel {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    position: relative;

    & p.content-primary {
      z-index: 1;
    }

    & .daniel-quotation {
      display: block;
      position: absolute;
      top: 0rem;
      left: 27rem;
      border-radius: 0;
      height: 8rem;
      width: 8rem;
      z-index: -1;
    }
  }

  .jonathan {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .patrick {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 9;
  }
  .kira {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 9;
  }

  .jeanette {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 9;
  }
}
